## Build generated
build/
DerivedData
DerivedData/BobBudowniczy/Index/Debug/iphonesimulator9.2-x86_64/BobBudowniczy.xcindex/db.xcindexdb-wal

DerivedData/BobBudowniczy/Index/Debug/iphonesimulator9.2-x86_64/BobBudowniczy.xcindex/db.xcindexdb-shm

DerivedData/BobBudowniczy/Index/Debug/iphonesimulator9.2-x86_64/BobBudowniczy.xcindex/db.xcindexdb

DerivedData/BobBudowniczy/Build/Intermediates/BobBudowniczy.build/Debug-iphonesimulator/BobBudowniczy.build/dgph~

DerivedData/BobBudowniczy/Build/Intermediates/BobBudowniczy.build/Debug-iphonesimulator/BobBudowniczy.build/dgph
